# DWD project - Team Anaconda

### file 2 - NYPD crime data

### Installing packages outside the default library and importing necessary libraries

In [ ]:
# intalling a package called uszipcode using pip
import sys
!{sys.executable} -m pip install uszipcode

In [1]:
#importing packages required for this python notebook
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime as dt
from uszipcode import Zipcode
from uszipcode import SearchEngine

### setting up the engine for the uszipcode package

In [2]:
# argument (simple_zipcode) is set to True so that the smaller version of the package is used for faster pocessing
search = SearchEngine(simple_zipcode=True)

### reading the NYPD complaints data and exploring the dataset

In [3]:
#takes 3-4 minutes to load dataframe
complaints_raw = pd.read_csv("C:/Users/aniru/Desktop/DWD/NYPD_Complaint_Data_Historic.csv")

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#exploring the number of rows and columns of the dataframe
complaints_raw.shape

(6036805, 35)

In [5]:
#exploring the column names and data types asscoiated with these columns
complaints_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6036805 entries, 0 to 6036804
Data columns (total 35 columns):
CMPLNT_NUM           int64
CMPLNT_FR_DT         object
CMPLNT_FR_TM         object
CMPLNT_TO_DT         object
CMPLNT_TO_TM         object
ADDR_PCT_CD          float64
RPT_DT               object
KY_CD                int64
OFNS_DESC            object
PD_CD                float64
PD_DESC              object
CRM_ATPT_CPTD_CD     object
LAW_CAT_CD           object
BORO_NM              object
LOC_OF_OCCUR_DESC    object
PREM_TYP_DESC        object
JURIS_DESC           object
JURISDICTION_CODE    float64
PARKS_NM             object
HADEVELOPT           object
HOUSING_PSA          float64
X_COORD_CD           float64
Y_COORD_CD           float64
SUSP_AGE_GROUP       object
SUSP_RACE            object
SUSP_SEX             object
TRANSIT_DISTRICT     float64
Latitude             float64
Longitude            float64
Lat_Lon              object
PATROL_BORO          object
STATION_NAME         object
VIC_AGE_GROUP        object
VIC_RACE             object
VIC_SEX              object
dtypes: float64(9), int64(2), object(24)
memory usage: 1.6+ GB

In [6]:
# evaluate the number of na values in each column
complaints_raw.isna().sum()

CMPLNT_NUM                 0
CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
CMPLNT_TO_DT         1541805
CMPLNT_TO_TM         1537755
ADDR_PCT_CD             2163
RPT_DT                     0
KY_CD                      0
OFNS_DESC              18796
PD_CD                   5201
PD_DESC                 5201
CRM_ATPT_CPTD_CD           7
LAW_CAT_CD                 0
BORO_NM                10219
LOC_OF_OCCUR_DESC    1310078
PREM_TYP_DESC          35740
JURIS_DESC                 0
JURISDICTION_CODE       5201
PARKS_NM             6019855
HADEVELOPT           5735354
HOUSING_PSA          5567851
X_COORD_CD             17299
Y_COORD_CD             17299
SUSP_AGE_GROUP       4472282
SUSP_RACE            3103741
SUSP_SEX             3237055
TRANSIT_DISTRICT     5904683
Latitude               17299
Longitude              17299
Lat_Lon                17299
PATROL_BORO             5658
STATION_NAME         5904683
VIC_AGE_GROUP        1638441
VIC_RACE                 305
VIC_SEX                  304
dtype: int64

In [7]:
# subsetting the dataframe to a new variable to discard the columns we don't need
temp_raw = complaints_raw.iloc[:,[0,1,5,6,7,8,9,10,11,12,13,21,22,23,24,25,27,28,29,30]]

In [8]:
# 15 columns removed from the original dataframe
temp_raw.shape

(6036805, 20)

In [9]:
# drop the rows with na values in the CMPLNT_FR_DT and Latitude column and reassign the new dataframe back into 'temp_raw' using inplace argument
temp_raw.dropna(subset = ['CMPLNT_FR_DT'], inplace = True)
temp_raw.dropna(subset = ['Latitude'], inplace = True)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
# exploring the look of the dataframe using the head function
temp_raw.head(10)

,CMPLNT_NUM,CMPLNT_FR_DT,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,Lat_Lon,PATROL_BORO
0,134551608,05/11/2008,25.0,05/11/2010,104,RAPE,157.0,RAPE 1,COMPLETED,FELONY,MANHATTAN,1000555.0,230994.0,25-44,BLACK,M,40.800694,-73.941109,"(40.800694331, -73.941109286)",PATROL BORO MAN NORTH
1,942278690,04/01/2008,13.0,05/11/2010,112,THEFT-FRAUD,739.0,"FRAUD,UNCLASSIFIED-FELONY",COMPLETED,FELONY,MANHATTAN,985985.0,210396.0,NaN,NaN,NaN,40.744173,-73.993740,"(40.744173068, -73.993740104)",PATROL BORO MAN SOUTH
2,841316085,10/12/2007,105.0,05/11/2010,111,POSSESSION OF STOLEN PROPERTY,494.0,"STOLEN PROPERTY 2,1,POSSESSION",COMPLETED,FELONY,QUEENS,1057812.0,182900.0,25-44,BLACK,M,40.668398,-73.734829,"(40.668397595, -73.734828863)",PATROL BORO QUEENS SOUTH
3,196706982,02/01/2006,49.0,05/11/2010,109,GRAND LARCENY,438.0,"LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UN...",COMPLETED,FELONY,BRONX,1023310.0,252911.0,NaN,NaN,NaN,40.860779,-73.858793,"(40.860778855, -73.858792802)",PATROL BORO BRONX
4,558373322,12/19/2004,72.0,05/11/2010,112,THEFT-FRAUD,739.0,"FRAUD,UNCLASSIFIED-FELONY",COMPLETED,FELONY,BROOKLYN,981082.0,174548.0,NaN,NaN,NaN,40.645778,-74.011417,"(40.645778217, -74.0114174)",PATROL BORO BKLYN SOUTH
5,749992058,10/03/2004,113.0,05/11/2010,109,GRAND LARCENY,403.0,"LARCENY,GRAND BY BANK ACCT COMPROMISE-REPRODUC...",COMPLETED,FELONY,QUEENS,1050728.0,191946.0,NaN,NaN,NaN,40.693283,-73.760276,"(40.693282748, -73.760275537)",PATROL BORO QUEENS SOUTH
6,928336237,07/05/2001,19.0,05/11/2010,340,FRAUDS,718.0,"FRAUD,UNCLASSIFIED-MISDEMEANOR",COMPLETED,MISDEMEANOR,MANHATTAN,998442.0,220387.0,NaN,NaN,NaN,40.771585,-73.948764,"(40.771584595, -73.948763653)",PATROL BORO MAN NORTH
7,523218018,01/01/1999,102.0,05/11/2010,104,RAPE,157.0,RAPE 1,COMPLETED,FELONY,QUEENS,1030954.0,193887.0,25-44,UNKNOWN,M,40.698737,-73.831569,"(40.698736773, -73.831568765)",PATROL BORO QUEENS SOUTH
8,712500291,05/10/2010,45.0,05/10/2010,233,SEX CRIMES,681.0,"CHILD, ENDANGERING WELFARE",COMPLETED,MISDEMEANOR,BRONX,1032047.0,242037.0,25-44,BLACK,F,40.830890,-73.827285,"(40.830889993, -73.82728462)",PATROL BORO BRONX
9,919517331,05/10/2010,44.0,05/10/2010,235,DANGEROUS DRUGS,567.0,"MARIJUANA, POSSESSION 4 & 5",COMPLETED,MISDEMEANOR,BRONX,1008692.0,243109.0,NaN,NaN,NaN,40.833928,-73.911675,"(40.833927834, -73.911675082)",PATROL BORO BRONX

### Extracting useful information from columns and cleaning the dataframe further

In [11]:
# converting the CMPLNT_FR_DT column to string type and splitting it over the '/' value to form a list in each cell
temp_raw['year'] = temp_raw.CMPLNT_FR_DT.str.split('/')

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
# breaking up the year column as month, day and year columns by extracting the year column as a list of lists  and using the same indexing as the temp_raw dataframe
temp_raw[['month','day','year_for_complaint']] = pd.DataFrame(temp_raw.year.values.tolist(), index = temp_raw.index)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [13]:
# subsetting the dataframe to the same variable name to discard the columns we don't need
temp_raw = temp_raw.iloc[:,[0,2,4,5,6,7,8,9,10,16,17,18,19,23]]

In [14]:
# converting the 'year_for_complaint' columns as an integer to allow for easier cleaning later on
temp_raw[['year_for_complaint']] = pd.to_numeric(temp_raw['year_for_complaint'], downcast='integer')

In [15]:
# understanding that the year column has values that are not relevant to the timeline of the project i.e. years outside the range from 2010 to 2017
temp_raw['year_for_complaint'].unique()

array([2008, 2007, 2006, 2004, 2001, 1999, 2010, 2009, 2003, 2005, 2002,
       1996, 1989, 1981, 2000, 1998, 1997, 1910, 1985, 1920, 1986, 2011,
       1980, 1994, 1977, 1995, 1992, 1990, 1968, 1938, 1993, 1941, 1911,
       1950, 1991, 1984, 1979, 1970, 1971, 1959, 2012, 1909, 1912, 1978,
       1972, 1975, 1988, 1942, 1983, 1982, 1973, 2013, 1913, 1955, 1987,
       2014, 1958, 1914, 1974, 1930, 1945, 2015, 1954, 1015, 1965, 1915,
       2016, 1916, 1960, 1966, 1016, 1026, 1976, 1969, 1946, 2017, 1027,
       1017, 1917, 1957, 1967, 1947, 1956, 1922, 1906, 1962, 1961, 1905,
       1900, 1964, 1908, 1948, 1929, 1919, 1940], dtype=int64)

### filling in missing values with the help of other columns in the dataset

In [16]:
# understanding what values the 'PATROL_BORO' column has
temp_raw['PATROL_BORO'].unique()

array(['PATROL BORO MAN NORTH', 'PATROL BORO MAN SOUTH',
       'PATROL BORO QUEENS SOUTH', 'PATROL BORO BRONX',
       'PATROL BORO BKLYN SOUTH', 'PATROL BORO BKLYN NORTH',
       'PATROL BORO STATEN ISLAND', 'PATROL BORO QUEENS NORTH', nan],
      dtype=object)

In [17]:
# understanding what values the 'BORO_NM' column has
temp_raw['BORO_NM'].unique()

array(['MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN', 'STATEN ISLAND', nan],
      dtype=object)

In [18]:
# using the where command to find the rows where 'BORO_NM' has null values and replace them with the values from the 'PATROL BORO' column
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'].isnull() == True, temp_raw['PATROL_BORO'], temp_raw['BORO_NM'])

In [19]:
# renaming the values that were imported from the 'PATROL_BORO' column as borough names for the 'BORO_NM' column
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO BKLYN NORTH', 'BROOKLYN', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO BKLYN SOUTH', 'BROOKLYN', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO QUEENS NORTH', 'QUEENS', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO QUEENS SOUTH', 'QUEENS', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO MAN NORTH', 'MANHATTAN', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO MAN SOUTH', 'MANHATTAN', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO STATEN ISLAND', 'STATEN ISLAND', temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where(temp_raw['BORO_NM'] == 'PATROL BORO BRONX', 'BRONX', temp_raw['BORO_NM'])

In [20]:
# testing that the values in 'BORO_NM' column were successfully renamed
temp_raw['BORO_NM'].unique()

array(['MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN', 'STATEN ISLAND', nan],
      dtype=object)

In [21]:
# 'BORO_NM' column went from 10219 null values to 4749 null values
temp_raw.isna().sum()

CMPLNT_NUM                0
ADDR_PCT_CD            1329
KY_CD                     0
OFNS_DESC             18681
PD_CD                  4749
PD_DESC                4749
CRM_ATPT_CPTD_CD          7
LAW_CAT_CD                0
BORO_NM                4749
Latitude                  0
Longitude                 0
Lat_Lon                   0
PATROL_BORO            4827
year_for_complaint        0
dtype: int64

In [22]:
# subsetting the dataframe to the same variable name to discard the columns we don't need
temp_raw = temp_raw.iloc[:,[0,1,2,3,7,8,9,10,13]]

In [23]:
# rewriting null values in 'ADDR_PCT_CD' column to 999
temp_raw['ADDR_PCT_CD'] = np.where(temp_raw['ADDR_PCT_CD'].isnull() == True, 999, temp_raw['ADDR_PCT_CD'])

In [24]:
'''since precincts have sequential ranges for each borough,
   the values in "ADDR_PCT_CD" column were checked to be within certain ranges 
   and the corresponding value in the "BORO_NM" column for the same row was updated to the correct Borough name
'''
temp_raw['BORO_NM'] = np.where((temp_raw['ADDR_PCT_CD'] >= 1.0) & (temp_raw['ADDR_PCT_CD'] <= 34.0), 'MANHATTAN' , temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where((temp_raw['ADDR_PCT_CD'] >= 40.0) & (temp_raw['ADDR_PCT_CD'] <= 52.0), 'BRONX' , temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where((temp_raw['ADDR_PCT_CD'] >= 60.0) & (temp_raw['ADDR_PCT_CD'] <= 94.0), 'BROOKLYN' , temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where((temp_raw['ADDR_PCT_CD'] >= 100.0) & (temp_raw['ADDR_PCT_CD'] <= 115.0), 'QUEENS' , temp_raw['BORO_NM'])
temp_raw['BORO_NM'] = np.where((temp_raw['ADDR_PCT_CD'] >= 120.0) & (temp_raw['ADDR_PCT_CD'] <= 123.0), 'STATEN ISLAND' , temp_raw['BORO_NM'])

In [25]:
# 'BORO_NM' column went from 4749 null values to 1327 null values
temp_raw.isna().sum()

CMPLNT_NUM                0
ADDR_PCT_CD               0
KY_CD                     0
OFNS_DESC             18681
LAW_CAT_CD                0
BORO_NM                1327
Latitude                  0
Longitude                 0
year_for_complaint        0
dtype: int64

In [26]:
# rounding the values in Latitude and Longitude columns to 6 decimal places
temp_raw['Latitude'] = temp_raw['Latitude'].round(6)
temp_raw['Longitude'] = temp_raw['Longitude'].round(6)
temp_raw.head()

,CMPLNT_NUM,ADDR_PCT_CD,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude,year_for_complaint
0,134551608,25.0,104,RAPE,FELONY,MANHATTAN,40.800694,-73.941109,2008
1,942278690,13.0,112,THEFT-FRAUD,FELONY,MANHATTAN,40.744173,-73.993740,2008
2,841316085,105.0,111,POSSESSION OF STOLEN PROPERTY,FELONY,QUEENS,40.668398,-73.734829,2007
3,196706982,49.0,109,GRAND LARCENY,FELONY,BRONX,40.860779,-73.858793,2006
4,558373322,72.0,112,THEFT-FRAUD,FELONY,BROOKLYN,40.645778,-74.011417,2004

In [27]:
# subsetting the dataframe to keep rows with years between 2010 and 2017
temp_raw = temp_raw[(temp_raw['year_for_complaint'] >= 2010) & (temp_raw['year_for_complaint'] <= 2017)]

In [28]:
# the index wasn't sequential, so it is reset to a sequential set of integers
temp_raw.index = range(0,len(temp_raw))`

In [29]:
# understanding the sahope of the dataset upto this stage
temp_raw.shape

(3912883, 9)

In [30]:
# subsetting the dataframe to get the Latitude and Longitude columns
lat_long_df = temp_raw.iloc[:,[6,7]]

In [31]:
# adding a column filled with string 'na' values in the lat_long_df dataframe
lat_long_df["ZIPCODE"] = 'na'

# creating numpy array format of the lat_long_df dataframe for faster computing
lat_long_matrix = lat_long_df.as_matrix(lat_long_df.columns[0:3])

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [35]:
# creating a UDF to search a zipcode based on latitude and longitude values in each array of the matrix

# range of index is passed to the function as a and b


def enter_zipcode(a,b):
    #for each array
    for x in lat_long_matrix[a:b,:]:
        try:
            # 3rd position in each array is reassigned the zipcode value
            # since the data structure is not ideal, it is broken down by using indexing and values() function to return 1 zipcode value
            x[2] = search.by_coordinates(x[0], x[1], radius=3, returns=1)[0].values()[0]
        except:
            # if a zipcode cannot be found for a set of coordinates then write 'na' to the zipcode position
            x[2] = 'na'

In [36]:
# for definging the range to pass to the UDF
len(lat_long_matrix)

3912883

In [39]:
%%time
# systems crash for values greater than 2.5 million values, so the UDF is called twice to complete the zipcode writing task

#this code cell takes 1 hour and 13 mins to run on our systems


enter_zipcode(0,2000000)

Wall time: 1h 12min 51s

In [40]:
%%time
#this code cell takes 1 hour and 10 mins to run on our systems

enter_zipcode(2000000, 3912883)

Wall time: 1h 9min 52s

In [41]:
# converting the lat_long_mtrix into a dataframe called zip_df

zip_df = pd.DataFrame(lat_long_matrix)

In [42]:
# assigning the third column of zip_df containing the zipcodes to a new column called 'zipcode' in the temp_raw dataframe

temp_raw["zipcode"] = zip_df[2]

In [46]:
# removing the rows with 'na' values in the zipcode column and assigning it to a new dataframe variable called final_df
final_df = temp_raw[temp_raw['zipcode'] != "na"]
final_df = final_df[final_df['BORO_NM'].isnull() != True]

In [47]:
# subsetting final_df to keep only the columns we need
final_df = final_df.iloc[:,[0,1,2,3,4,5,8,9]]

In [48]:
# describing the final version of the dataframe we need
final_df.isna().sum()

CMPLNT_NUM               0
ADDR_PCT_CD              0
KY_CD                    0
OFNS_DESC             9576
LAW_CAT_CD               0
BORO_NM                  0
year_for_complaint       0
zipcode                  0
dtype: int64

In [49]:
# converting the 'zipcode' column to integer value to remove the decimal point in each cell
final_df['zipcode'] = pd.to_numeric(final_df['zipcode'], downcast='integer')

In [51]:
# writing the final_df back to the system with a filename = final_crime_file
final_df.to_csv('C:/Users/aniru/Desktop/DWD/final_crime_file.csv', index = False)